[submodule "Dur-Pro/server-tools"]
	path = Dur-Pro/server-tools
	url = git@github.com:Dur-Pro/server-tools.git
	branch = 15.0


[submodule "Dur-Pro/server-ux"]
	path = Dur-Pro/server-ux
	url = git@github.com:Dur-Pro/server-ux.git
	branch = 15.0

[submodule "Dur-Pro/product-attribute"]
	path = Dur-Pro/product-attribute
	url = git@github.com:Dur-Pro/product-attribute.git
	branch = 15.0
